/* external styles */

:root {
    --blue-bg:  #124076;
    --white-color: #fff;
    --yellow: #F4CE14;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    /* border: 5px solid maroon; */

}


.nav-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 80%;
    /* border: 2px solid red; */
    margin: 0 auto;
    align-items: center;
}

.nav-container_ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.li_hover {
    padding: 6px 12px;
    position: relative;
}

.li_hover:hover {
    border-bottom: 3px solid #F4CE14;
}

/* .li_pseudo::first-letter {
    content: '';
    font-size: 2rem;
    color: red;
    font-family: cursive;
} */

.nav-container_ul_btn {
    border: none;
    padding: 10px 20px;
    /* background-color: var(--yellow); */
    border-radius: 16px;
}

.nav-container_ul_btn:hover {
     background-color: var(--yellow);
     transition: all 1s ease-out;

}

.top-banner {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
    /* padding: 200px 0; */
    min-height: calc(100vh - 67.813px);
    background-image: url('../../assets/banner.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}

.top-banner_div {
    /* border: 2px solid #fff; */
    text-align: center;
}

#welcome {
    color: transparent;
    letter-spacing: 3px;
    font-size: 3rem;
    background: rgb(244,206,20);
    background: linear-gradient(90deg, rgba(244,206,20,1) 29%, rgba(91,193,33,1) 72%);
    -webkit-background-clip: text;
    background-clip: text;

}

.paragraph {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
}

/* .paragraph {
    font-family: 'monteserrat', sans-serif;
    font-weight: 300;
    color:#0766AD;
    font-size: 20px;
/* } 

/* .extra-paragraph {
    border: 1px solid maroon;
} */




/* h1 {
    text-align: center;
    background-color: #124076;
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding-top: 16px;
    font-weight: 700;
    padding-bottom: 16px;
} */

.top-section {
    text-align: center;
    background-color: #F6F5F5;
    margin-top: 0;
    padding: 16px 0;
}

em {
    color: #F4CE14;
}

/* responsive-image */

.image-container {
    width: 40%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.image {
    width: 100%;
}

/* responsive-image */
.second-section {
    padding: 20px 0;
    background-color: #F0F3FF;
    /* background-color: #860A35; */
    /* border: 5px solid red; */
}
.stack {
    text-align: center;
    background-color: var(--blue-bg);
    padding: 10px 0;
    color: white;
    margin: 0;
    /* border: 5px solid magenta */

}

.second-section_div {
    text-align: center;
    /* border: 1px solid white; */
}

/* direct child selector   */

.second-section_div > ul {
    display: inline-block;
    /* border: 1px solid #fff; */
}

/* direct child selector   */

.second-section_div > ul > li {
    padding: 10px 5px;
    color: #0766AD;
    text-align: left;
}

.education {
    background-color: #124076;
    text-align: center;
    padding: 10px 5px;
    color: #fff; 
    /* border: 1px solid red; */
}

.second-section_education {
    /* border: 1px solid red; */
    text-align: center;
}

.second-section_education > ol {
    display: inline-block;
    /* border: 1px solid red; */
}

.second-section_education > ol > li {
    padding: 10px 5px;
    text-align: left;
    color: #0766AD;
}

.contact {
    padding: 50px 0;
    text-align: center;
   background-color: #51829B;
   color: #fff;
}

/* descendant selector */

.contact input {
    border: none;
    border-bottom: 2px solid #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    background-color: #51829B;
}


/* direct child selector   */
form > p {
    margin: 10px 0;
}

.btn {
    padding: 10px 32px;
    margin-top: 16px;
    background-color: #124076;
    color: #fff;
    border: 0;
    border-radius: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    /* transform: scale(1.5); */
    /* transition: ease-in-out 2s; */

}
/* .second-section {
    padding: 16px 0;
    background-color: #F0F3FF;

}


.stack {
    background-color: #124076;
    text-align: center;
    padding: 10px
    color: #fff;
}

.second-section_div {
    text-align: center;
}

.second-section_div > ul {
    display: inline-block;
}

.second-section_div > ul > li {
    text-align: left;
    list-style-image: url('./list.svg');
    padding: 10px 5px;
    color: #0766AD;
}

.education {
    background-color: #124076;
    text-align: center;
    padding: 10px 5px;
    color: #fff;
}

.second-section_education {
    text-align: center;
}

.second-section_education > ol {
    display: inline-block;
}

.second-section_education > ol > li {
    padding: 10px 5px;
    color: #0766AD;
    text-align: left;
}

form > p {
    margin: 10px 0;
}

.contact {
    padding: 10px 0;
    text-align: center;
    background-color: #51829B;
    color: #fff;
}

.contact input {
    border: none;
    border-bottom: 2px solid grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}

.contact > button {
    background-color: #124076;
    color: #fff;
    padding: 10px 48px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    margin-bottom: 48px;
}

.contact > button:hover {
    transform: scale(1.1);
    opacity: 0.8;

} */


/* NOTES  ON POSITION PROPERTY*/

/* every HTML element has a positon of "static"

position relative offsets your HTML element from where it used to be in the flow of the document 

when using any position property apart from static, we have to specify a offset value of "left", "right", "top", "bottom" 

position absolute will position an element in relation to the closest ancestor with a position value that is not static

fixed position will position an element relative to the browswer window.
*/


/* flexbox Must-know */


/* adding display: flex to your flex container makes the children elements
flex-items.

the flex items would get as small as the content within sitting side by side 
on the main axis (horizontal)

the default flex directon is set to row, which makes the main axis (left - right) and cross axis (top to bottom)

when flex direction is explicitly set to column, main axis becomes
(top -> bottom ) and cross axis becomes (left -> right)

justify-content property is set on the flex container and it controls the space 
on the main axis. As long as the flex direction is ROW!

align-items property is set on the flex container and it controls the space on 
the cross axis. As long as the flex direction is ROW!

if there is no space within the container, none of these properties would work. 
*/
ß