/* external styles */

:root {
    --blue-bg:  #124076;
    --white-color: #fff;
    --yellow: #F4CE14;
    --max-width: 1600px;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    /* border: 5px solid maroon; */

}

section {
    max-width: var(--max-width);
}

.nav-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 80%;
    /* border: 2px solid red; */
    margin: 0 auto;
    align-items: center;
    max-width: var(--max-width);
}

.nav-container_ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    position: relative;
    align-items: center;
    /* border: 2px solid red; */
    gap: 30px;
    
}

.bars-container {
    width: 30px;
    min-height: 30px;
    display: none;
}

.bars-container img {
    width: 100%;
}

 .li_pseudo > a {
    padding: 6px 15px;
    position: relative;
    text-decoration: none;
    color: inherit;
    /* border: 1px solid blue; */
}

.li_pseudo > a:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #F4CE14;
}



.nav-container_ul_btn {
    border: none;
    padding: 10px 20px;
    /* background-color: var(--yellow); */
    border-radius: 16px;
}

.nav-container_ul_btn:hover {
     background-color: var(--yellow);
     transition: all 1s ease-out;

}


/* flexbox html page css rule set */



.flexbox {
    border: none;
    padding: 10px 30px;
    background-color: firebrick;
    border-radius: 16px;
}

.flexbox > a {
    text-decoration: none;
    color: #fff;
}


/* flexbox html page css rule set */

.top-banner {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
    /* padding: 200px 0; */
    min-height: calc(100vh - 67.813px);
    background-image: url('../../assets/banner.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}

.top-banner_div {
    /* border: 2px solid #fff; */
    text-align: center;
}

#welcome {
    color: transparent;
    letter-spacing: 3px;
    font-size: 3rem;
    background: rgb(244,206,20);
    background: linear-gradient(90deg, rgba(244,206,20,1) 29%, rgba(91,193,33,1) 72%);
    -webkit-background-clip: text;
    background-clip: text;

}

.paragraph {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
}

/* .paragraph {
    font-family: 'monteserrat', sans-serif;
    font-weight: 300;
    color:#0766AD;
    font-size: 20px;
/* } 

/* .extra-paragraph {
    border: 1px solid maroon;
} */




/* h1 {
    text-align: center;
    background-color: #124076;
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding-top: 16px;
    font-weight: 700;
    padding-bottom: 16px;
} */

.top-section {
    text-align: center;
    background-color: #F6F5F5;
    margin-top: 0;
    padding: 16px 0;
}

em {
    color: #F4CE14;
}

/* responsive-image */

.image-container {
    width: 40%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.image {
    width: 100%;
}

/* responsive-image */
.second-section {
    padding: 20px 0;
    background-color: #F0F3FF;
    /* background-color: #860A35; */
    /* border: 5px solid red; */
}
.stack {
    text-align: center;
    background-color: var(--blue-bg);
    padding: 10px 0;
    color: white;
    margin: 0;
    /* border: 5px solid magenta */

}

.second-section_div {
    text-align: center;
    /* border: 1px solid white; */
}

/* direct child selector   */

.second-section_div > ul {
    display: inline-block;
    /* border: 1px solid #fff; */
}

/* direct child selector   */

.second-section_div > ul > li {
    padding: 10px 5px;
    color: #0766AD;
    text-align: left;
}

/* projects */

.project-header {
    background-color: var(--blue-bg);
    text-align: center;
    color: var(--white-color);
    padding: 10px 5px;
    margin: 0;
}


/* flex -container */
/* .projects {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
    justify-content: center;
    width: 80%;
    margin: 1rem auto;
    padding: 20px;
    gap: 15px;
} */

.projects {
    display: flex;
    width: 90%;
    margin: 1rem auto;
    flex-wrap: wrap;
    padding: 20px;
    /* border: 10px solid black; */
    gap: 10px;
    justify-content: center;
}

.project-child {
    /* border: 2px solid red; */
    /* flex-grow: 1; */
    flex-shrink: 1;
    flex-basis: 20%;
    /* border: 1px solid rgba(180,180,184,0.5); */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /* flex-basis: ;  */
    /* flex-grow: 1 flex-shrink :1  flex-basis: 0 */

}


/* .project-child {
    border: 1px solid rgba(180,180,184,0.5);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    flex-basis: 30%;
    
 
} */

.project-child-content {
    padding: 10px 20px;
}

.project-child:hover {
    box-shadow: -3px 2px 5px 8px rgba(238,238,238,0.75);
-webkit-box-shadow: -3px 2px 5px 8px rgba(238,238,238,0.75);
-moz-box-shadow: -3px 2px 5px 8px rgba(238,238,238,0.75);
}

.project-child  h3 {
    color: #0C2D57;
}

.project-child p {
    color: rgba(0, 0, 0, 0.5);
}

.project-img-container {
    width: 100%;
    /* border: 1px solid blue; */
    position: relative;
  
}

.project-img-container:hover::before {
    content: '';
    display: block;
    height: 100%;
    background-image: linear-gradient(0deg,rgba(0,0,0,.35),transparent 75%);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.project-img-container > img {
    width: 100%
}

/* contacts */
.contact input:focus {
    background-color: #F4CE14;
}

.education {
    background-color: #124076;
    text-align: center;
    padding: 10px 5px;
    color: #fff; 
    /* border: 1px solid red; */
}

.second-section_education {
    /* border: 1px solid red; */
    text-align: center;
}

.second-section_education > ol {
    display: inline-block;
    /* border: 1px solid red; */
}

.second-section_education > ol > li {
    padding: 10px 5px;
    text-align: left;
    color: #0766AD;
}

.contact {
    padding: 50px 0;
    text-align: center;
   background-color: #51829B;
   color: #fff;
}

/* descendant selector */

.contact input {
    border: none;
    border-bottom: 2px solid #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    background-color: #51829B;
}


/* direct child selector   */
form > p {
    margin: 10px 0;
}



.btn {
    padding: 10px 32px;
    margin-top: 16px;
    background-color: #124076;
    color: #fff;
    border: 0;
    border-radius: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    /* transform: scale(1.5); */
    /* transition: ease-in-out 2s; */

}

/* tablet breakpoint */
@media screen and (max-width: 850px) {
    .nav-container {
        width: 90%;
        
        /* border: 2px solid red; */
    }

    .nav-container_ul {
        gap: 10px;
    }
    .projects {
        justify-content: center;
        
    }

    .project-child {
        flex-basis: 35%;
    }
}

 @media screen and (max-width: 620px) {
    .nav-container_ul {
        display: none;
    }
    .bars-container {
        display: block;
    }

    .projects {
        padding: 0;
        /* background-color: #0C2D57; */
    }
    .project-child {
        flex-basis: 45%;
        gap: 10px;
    }
} 

@media screen and (max-width: 450px) {

    .projects {
     width: 90%;
     /* background-color: #F4CE14; */
     justify-content: center;
     row-gap: 20px;
    }
  
   .project-child {
    flex-basis: 100%;
   }
   #welcome {
    font-size: 2rem;
   }
   .paragraph {
    font-size: 1rem;
   }

   textarea {
    width: 80%;
}
/* .btn {
    font-size: ;
} */
}



/* .second-section {
    padding: 16px 0;
    background-color: #F0F3FF;

}


.stack {
    background-color: #124076;
    text-align: center;
    padding: 10px
    color: #fff;
}

.second-section_div {
    text-align: center;
}

.second-section_div > ul {
    display: inline-block;
}

.second-section_div > ul > li {
    text-align: left;
    list-style-image: url('./list.svg');
    padding: 10px 5px;
    color: #0766AD;
}

.education {
    background-color: #124076;
    text-align: center;
    padding: 10px 5px;
    color: #fff;
}

.second-section_education {
    text-align: center;
}

.second-section_education > ol {
    display: inline-block;
}

.second-section_education > ol > li {
    padding: 10px 5px;
    color: #0766AD;
    text-align: left;
}

form > p {
    margin: 10px 0;
}

.contact {
    padding: 10px 0;
    text-align: center;
    background-color: #51829B;
    color: #fff;
}

.contact input {
    border: none;
    border-bottom: 2px solid grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}

.contact > button {
    background-color: #124076;
    color: #fff;
    padding: 10px 48px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    margin-bottom: 48px;
}

.contact > button:hover {
    transform: scale(1.1);
    opacity: 0.8;

} */


/* NOTES  ON POSITION PROPERTY*/

/* every HTML element has a positon of "static"

position relative offsets your HTML element from where it used to be in the flow of the document 

when using any position property apart from static, we have to specify a offset value of "left", "right", "top", "bottom" 

position absolute will position an element in relation to the closest ancestor with a position value that is not static

fixed position will position an element relative to the browswer window.
*/


/* flexbox Must-know */


/* adding display: flex to your flex container makes the children elements
flex-items.

the flex items would get as small as the content within sitting side by side 
on the main axis (horizontal)

the default flex directon is set to row, which makes the main axis (left - right) and cross axis (top to bottom)

when flex direction is explicitly set to column, main axis becomes
(top -> bottom ) and cross axis becomes (left -> right)

justify-content property is set on the flex container and it controls the space 
on the main axis. As long as the flex direction is ROW!

align-items property is set on the flex container and it controls the space on 
the cross axis. As long as the flex direction is ROW!

if there is no space within the container, none of these properties would work. 
*/